@mixin button($color: green) {
  color: rgba(0, 0, 0, .6);
  display: inline-block;
  text-align: center;
  height: 20px;
  user-select: none;

  span {
    font-size: 18px;
  }

  &:active,
  &.active {
    color: $color;
  }

  &:active,
  &.active {
    color: $color;
  }

  &:hover {
    background: #eee;
    cursor: pointer;
  }
}

@mixin clear-list() {
  list-style: none;

  padding: 0;
  margin: 0;
}